<%- include('./partials/header.html') %>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/kpi/logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </nav>

    <%- include('./partials/left-navbar.html') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid" id="form-kompetensi">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col">
                        <div class="card card-primary">
                            <!-- form start -->
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Dari Divisi Mana ?</label>
                                    <select class="form-control" name="id_divisi" id="id_divisi">
                                        <option value="0" disabled>Pilih Dari Divisi Mana</option>
                                        <option selected value="<%= idDivisi %>"><%= namaDivisi %>
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Dari Bagian Mana ?</label>
                                    <select class="form-control" name="id_bagian" id="id_bagian"
                                            v-model="form.id_bagian" required>
                                        <option value="0" disabled selected>Pilih Dari Bagian Mana</option>
                                        <option v-bind:value="data.id" v-for="data in bagian">{{data.nama}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- ./col -->
                    </div>
                    <!-- /.row -->
                </div>
                <div class="row" v-for="data in form.kompetensi">
                    <div class="col">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Tambah Data Kompetensi Kerja Baru</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="kompetensi">Kompetensi</label>
                                    <input type="text" class="form-control" name="kompetensi" id="kompetensi"
                                           placeholder="Contoh : Tingkat Disiplin" v-model="data.kompetensi" required>
                                </div>
                                <div class="form-group">
                                    <label>Detail (Opsional)</label>
                                    <textarea name="detail" id="detail" class="form-control" rows="5"
                                              placeholder="Masukkan detail dari kompetensi kerja ini"
                                              spellcheck="false" v-model="data.detail"></textarea>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary" v-on:click="deleteKompetensi(data.id)">
                                    Hapus
                                </button>
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
                    <!-- /.row -->
                </div>
                <div class="card-footer">
                    <button type="submit" style="float: right" class="btn btn-primary" v-on:click="onSave()">
                        Simpan
                    </button>
                    <button type="submit" style="float: right; margin-right: 10px" class="btn btn-primary"
                            v-on:click="addKompetensi()">Tambah Kompetensi
                    </button>
                </div>
            </div>
        </section>
    </div>
</div>
<footer class="main-footer">
    <strong>Copyright &copy; 2021 Gery Akbar Fauzi - UNIKOM</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0
    </div>
</footer>
<%- include('./partials/footer.html') %>
<script type="application/javascript">
    let idDivisi = "<%= idDivisi %>";
</script>
<script type="application/javascript">
    var app = new Vue({
        el: '#form-kompetensi',
        data: {
            form: {
                id_bagian: 0,
                kompetensi: []
            },
            divisi: [],
            bagian: []
        },
        methods: {
            loadBagian: async function () {
                try {
                    let res = await fetch(`/api/get-bagian/${idDivisi}`);
                    let data = await res.json();
                    this.bagian = data;
                } catch (err) {
                    console.log(err);
                }
            },
            validation: function () {
                let isValid = true
                for (let i = 0; i < this.form.kompetensi.length; i++) {
                    if (this.form.kompetensi[i].kompetensi == '') {
                        isValid = false
                        break
                    }
                }
                return isValid
            },
            addKompetensi: async function () {
                if (this.form.id_bagian === 0)
                    toastr.warning("Silahkan pilih divisi dan bagiannya terlebih dahulu!")
                else
                    this.form.kompetensi.push({
                        id: Date.now(),
                        id_bagian: this.form.id_bagian,
                        kompetensi: '',
                        detail: ''
                    })
            },
            deleteKompetensi: function (id) {
                this.form.kompetensi = this.form.kompetensi.filter(e => e.id != id);
            },
            onSave: async function () {
                try {
                    //Method Insert
                    if (!this.validation()) {
                        toastr.warning("Harap isi semua form yang wajib diisi!")
                        return
                    }
                    if (this.form.kompetensi.length === 0) {
                        toastr.warning("Harap tambahkan setidaknya satu kompetensi!")
                        return
                    }
                    let formData = this.form
                    let result = await fetch('/api/kompetensi', {
                        method: 'POST',
                        body: JSON.stringify(formData),
                        headers: {'Content-Type': "application/json"}
                    })
                    let data = await result.json()
                    if (data.code > 0) {
                        toastr.success(data.message)
                        setTimeout(() => {
                            let context = this
                            window.removeEventListener('beforeunload', context.leaving, true)
                            window.location = "/kpi/kompetensi"
                        }, 1000)
                    } else
                        toastr.error(data.message)
                    //endif
                } catch (e) {
                    console.log(e)
                }
            }
        },
        mounted() {
            this.loadBagian()
            this.form.id_divisi = idDivisi
        }
    })
</script>
