<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/hr" class="brand-link">
        <img src="/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Dashboard KPI</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="<%= locals.photo %>" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block"><%= locals.nama %></a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="/kpi" class="nav-link <%= locals.routePath == '/' ? 'active': ''%>">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/kpi/karyawan" class="nav-link <%= locals.routePath == '/karyawan' ? 'active': ''%>">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Karyawan
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/kpi/kpi" class="nav-link <%= locals.routePath == '/kpi' ? 'active': ''%>">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            KPI
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/kpi/kompetensi" class="nav-link <%= locals.routePath == '/kompetensi' ? 'active': ''%>">
                        <i class="nav-icon fas fa-columns"></i>
                        <p>
                            Kompetensi Kerja
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/kpi/penilaian" class="nav-link <%= locals.routePath == '/penilaian' ? 'active': ''%>">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Penilaian Karyawan
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
